.hamburger {
    width: 2rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    cursor: pointer;
}

.line {
    width: 1.5rem;
    height: 0.2rem;
    border-radius: 10px;
    background-color: grey;
    transition: all 0.3s linear;
}

.hamburger:hover .line {
    background-color: black;
}