@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

.hamMenu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
}

.navbar {
    background-color: aliceblue;
    height: 100vh;
    width: 0;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    transition: width 0.6s ease;
}

.container {
    padding-top: 25px;
}

.closed {
    width: 0;
}

.open {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 0.3s ease;
    background-color: aliceblue;
}

.navbar ul {
    list-style-type: none;
    padding-right: 10px;
    padding: 0;
    height: 100%;
    margin: 0;
}

.navbar ul li {
    margin: 15px 0;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: lightskyblue;
}

.navbar ul li a {
    color: black;
    font-size: large;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}