input[type="radio"] {
    display: none;
}

body {
    font-family: 'Istok Web';
    font-size: 22px;
}

.radio-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.selected {
    background-color: #D0ECF0;
    color: black;
    border: 2px solid #007887;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 2.5%;
    border-radius: 30px;
}

.unselected {
    cursor: pointer;
    background-color: #84a3d3;
    color: black;
    border: 2px solid #007887;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 30px;
}